{% extends 'register.html' %}
{% block title %}
<title>登录</title>
{% endblock %}

{% block h_title %}
<h1>登录账号</h1>
{% endblock %}

{% block description %}
<h2>登录账号</h2>
{% endblock %}

{% block form %}
<form action="#" method="post">
    {% csrf_token %}
    <div class="input-group">
        <span><i class="fa fa-user" aria-hidden="true"></i></span>
        <input type="text" placeholder="账号" required="">
    </div>
    <div class="input-group">
        <span><i class="fa fa-lock" aria-hidden="true"></i></span>
        <input type="Password" placeholder="密码" required="">
    </div>
        <input type="checkbox" value="remember-me" /> <h4>记住密码</h4>
        <button class="btn btn-danger btn-block" type="submit">登录</button >
</form>
{% endblock %}
